* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header*/

@media (min-width: 768px) {
    .contenedor-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

 .header{
    background-color:rgba(0,0,0,0.4);
    width: 100%;
    /* position: fixed;
    z-index: 1; */
    
}

.header a {
    color: black;
    text-decoration: none;
}


.header img {
    width: 35%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .header img {
        width: 80%;
    }
}

/*Barra de navegación*/

.navbar a {
    text-align: center;
    display: block;
    font-size: 18px;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
}

.navbar a:hover {
    color: rgb(219, 168, 1);
    width: 100%;
    font-size: 22px;
}

@media only screen and (min-width: 768px) {
    .navbar a {
        display: inline;
        margin-right: 10px;
        text-decoration: none;
    }
    .navbar a:last-of-type {
        margin-right: 35px;
    }
}

